
/* 修改Tab的背景颜色 */
.tab {
    -fx-background-color: #C1D5BA;
}
/* 修改顶栏的背景颜色 */
.tab-pane>*.tab-header-area>*.tab-header-background
{
    -fx-background-color: -fx-outer-border, -fx-text-box-border, #9CAAAA;
}
/* 修改Tab中文本的颜色 */
.tab-label {
    -fx-text-fill: #003333ff;
}
/* 子代选择器，Tab选中的时候选择其子元素tab-label */
.tab:selected .tab-label {
    -fx-text-fill: #e6e6e6;
}
/* tab选中时设置背景颜色 */
.tab:selected {
    -fx-background-color: #637D92;
}
/* Tab选中的时候选中其边框并修改样式 */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 0px;
    -fx-border-width: 0px;
    -fx-border-color: #4d1a4dff;
}